
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# 环境变量和敏感信息
config/.env

# 存储文件
storage/cookies/
storage/screenshots/
storage/logs/

# md
*.md

.specstory/